<a href="https://colab.research.google.com/github/akhilpandit09/Data-science/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [6]:
# Write your code here
print("Data",end='-')
print('Science',end='-')
print('Mentorship',end='-')
print('Program',end='-')
print('program',end='-')
print('started',end='-')
print('By',end='-')
print('CampusX')

Data-Science-Mentorship-Program-program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
# Write your code here
data=float(input("Enter the celcius value:"))
value=(9/5)*data+32
print(value)

Enter the celcius value:32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [12]:
# Write your code here
user1=input("Enter first number:")
user2=input("Enter second number:")

# displaying number before swapping
print("\nBefore swapping")
print("First number {}".format(user1))
print("second number {}".format(user2))

# here we are swapping two number
temp=user1
user1=user2
user2=temp

# Displaying number after swapping
print("\nAfter swapping")
print("First number {}".format(user1))
print("Second number {}".format(user2))

Enter first number:10
Enter second number:89

Before swapping
First number 10
second number 89

After swapping
First number 89
Second number 10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [13]:
# Write your code here
import math
x1=float(input("Enter x1 value:"))
x2=float(input("Enter x2 value:"))
y1=float(input("Enter y1 value:"))
y2=float(input("Enter y2 value:"))

# formula
total=math.sqrt(pow((x2-x1),2)+ pow((y2-y1),2))

print("Euclidean distance between two coordinate:", total)

Enter x1 value:4
Enter x2 value:2
Enter y1 value:6
Enter y2 value:3
Euclidean distance between two coordinate: 3.605551275463989

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [14]:
# Write your code here

principle=float(input("Enter principle:"))
rate=float(input("Enter rate:"))
time=float(input("Enter time:"))

# formula is here
total=(principle*time*rate)/100

print("Simple Interest:", total)

Enter principle:3400
Enter rate:7.5
Enter time:12
Simple Interest: 3060.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [17]:
# Write your code here
heads=int(input("Enter the total number of heads:"))
legs=int(input("Enter the total numbers of legs:"))
# if else condition will check the given heads and legs are valid or not
if(legs%2!=0 or heads==0 or legs>heads):
  print("Invalid! Try again")

else:
  dogs=(legs-2*heads)/2
  chickens=(heads-dogs)

  print("Number of dogs:",int(dogs))
  print("Number of chickens:",int (chickens))

Enter the total number of heads:3
Enter the total numbers of legs:13
Invalid! Try again

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [19]:
# Write your code here

# taking input from the user
user=int(input("Enter a integer:"))

value=(user*(user+1)*(2*user+1))/6

print("Sum of squares of first n natural numbers:",int(value))

Enter a integer:10
Sum of squares of first n natural numbers: 385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
# Write your code here

# here we are taking the first fraction values
f_num1=float(input("Enter numerator value of first fraction:"))
f_den1=float(input("Enter denominator value of first fraction:"))

f_num2=float(input("Enter numerator value of second fraction:"))
f_den2=float(input("Enter denominator value of second fraction:"))

first_fraction=f_num1/f_den1
second_fraction=f_num2/f_den2

print("Sum of given two fraction:", first_fraction + second_fraction)

Enter numerator value of first fraction:3
Enter denominator value of first fraction:2
Enter numerator value of second fraction:5
Enter denominator value of second fraction:4
Sum of given two fraction: 2.75

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [25]:
# Write your code here

# input the height, length, and breadth
l,b,h=float(input("Enter the length:")),float(input("Enter the breadth:")),float(input("Enter the height:"))
tank_volume=l*b*h

h,r=float(input("Enter the height of glass:")),float(input("Enter the radius of glass:"))
glass_volume=(math.pi)*pow(r,2)*h

number=tank_volume/glass_volume

print("Number of glasses= ",number)

Enter the length:20
Enter the breadth:20
Enter the height:20
Enter the height of glass:3
Enter the radius of glass:1
Number of glasses=  848.8263631567752